{% extends "template.html" %}
{% block content %} 
<h1>About</h1>
La aplicación busca en una base de datos de MySQL registros que fueron sacados de la API de Last.fm.<br>
La base de datos contiene 50 artistas, 50 álbumes y un poco más de 500 canciones.<br>
Las búsquedas se hacen por nombre del artista, título del álbum y título de la canción, por lo cual recomendamos checar todos los registros antes de hacer las búsquedas<br>
El equipo de desarrolladores espera que esta aplicación le sea de su agrado.<br>
<h2>¡Diviértase!</h1>
{% endblock %} 