<!DOCTYPE html>
<html lang="es">
<head>
<title>Music App</title>
<style>
    table, th, td {
      border: 1px solid white;
    }
    body {
        background: darkred;
        color: white;
      }
    </style>
<img src="{{url_for('static', filename='logo.jpg')}}" style="float:right;width:100px;height:100px;" />
<h1>Consultas de Last.fm</h1>

</head>
<body>
<ul>
<li>Artistas:  <a href="artist.html">Artists</a></li>
<li>Albums: <a href="album.html">Albums</a></li>
<li>Canciones: <a href="album.html">Tracks</a></li>
</ul>
</body>
<footer>
Hecho por: <br>
<ul>
<li>Jesús González <a href="https://github.com/JesusAGC/">GitHub</a></li>
<li>Erick Escarcega<a href="https://github.com/ERORESRA/">GitHub</a></li>
</ul> 
</footer>

</html>